<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <i class="material-icons copyright-icon">favorite</i>
        <a class="copyright-link" href="https://onebitcode.com"> Bootcamp OneBitCode</a>
      </b>
    </div>
  </div>
</div>